.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  right: 48px;
  top: 50%;

}

.feynman__link:hover {
  opacity: 0.3;
  transition: 0.55s;
}