.header__main-illustration {
  display: flex;
  width: 765px;
  height: 608px;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url(/images/header-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}